body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Times New Roman", Times, serif;;
  padding: 1em 3em;
}

.dot {
  cursor: pointer;
}

.dot:hover {
  fill: #ff3333 ;
}

.axis-label {
  font-size: 18px;
  fill: black;
  text-anchor: middle;
}


h1{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

h2{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

div.tooltip {
  position: absolute;			
  text-align: left;			
  width: 150px;					
  height: 80px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: #D5DBDB ;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
}
